* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  line-height: 160%;
}

.btn {
  font-size: 16px;
  width: 168px;
  height: 46px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  color: #111;
}

.btn.small {
  font-size: 20px;
  width: 120px;
  height: 60px;
  border: 1px solid #111;
  transition: all 0.3s;
}

.btn.btn.small:hover {
  border: 1px solid #eb5757;
  background-color: #eb5757;
  color: #fff;
}

h1 {
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 82px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 55px;
  padding: 38px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.contents {
  width: 1240px;
  padding: 50px 20px;
  margin: 0 auto;
}

.cities {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.cities li {
  height: 520px;
  width: 560px;
}

.cities li img {
  width: 562px;
  height: 400px;
}

.cities li .text_box h2 {
  margin-top: 23px;
  margin-bottom: 12px;
}

.place {
  margin-top: 100px;
  margin-bottom: 100px;
}

.place ul {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.place .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}

.place .title h2 {
  font-size: 40px;
  font-weight: bold;
}

.place ul li {
  display: flex;
}

.place ul li .photo img {
  width: 380px;
}

.place ul li .text_box {
  margin: 26px 38px;
}

.place ul li .text_box h3 {
  font-size: 32px;
  font-weight: bold;
}

.place ul li .text_box p {
  margin-top: 22px;
  margin-bottom: 30px;
}

.place ul li .text_box .gps {
  font-weight: bold;
}

.footer {
  padding: 60px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.footer .sns {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.footer .sns i {
  font-size: 30px;
  color: #515151;
}

.footer p {
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
}
